{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="browse" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Ideas</h1>
        <p class="lead">See what others have in mind!</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Search/Filter goes here</h2>
                <p class="lead">The Wonderful People Behind the Site</p>
            </div>
        </div>
        {% for idea in object_list %}
        <div class="row">
            <div class="col-lg-12 column">
                <div class="panel panel-default" id="desc-panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" href="#desc-contents">
                          {{idea.title}}
                        </a>
                      </h2>
                    </div>
                    <div id="desc-contents" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ idea.description|safe|truncatewords:"50"|linebreaks }}
                            <a href="{% url 'ideas:detail' idea.id %}">Read More</a>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-6 column">
                                {{idea.tags}}
                            </div>
                            <div class="col-lg-6 column text-right">
                                {% for category in idea.hascategory_set.all %}
                                    {% with category=category.category %}
                                        {{category.name}},
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

<div id="sec3">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
{% endblock scripts %}
